* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a, button {
    cursor: pointer;
}

button {
    border: none;
}

.header {
    padding: 2vh 0;
}

.container {
    max-width: 1088px;
    margin: auto;
    padding: 0 2vw;
}

.header__container {
    display: flex;
    align-items: center;
}

.nav {
    margin-right: 5.76vw;
    max-width: 423px;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
}

.nav li {
    font-weight: 700;
    color: #1C1B1B;
}

.logo {
    margin-right: 26vw;
}

.header__icons-wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto
}

.introduction, .society, .politics {
    background: #F0EFEB;
  }

.introduction__text-block {
    max-width: 525px;
    padding: 12vh 0;
}

.introduction__container {
    display: flex;
    justify-content:space-between;
}

.introduction__heading {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 6vh;
}

.introduction__text {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 3vh;
}

.introduction__button {
    color: #FFFFFF;
    background: #000000;
    font-size: 17px;
    line-height: 20px;
    padding: 1vh 3vw;
    border-radius: 100px;
}

.overview__container {
    padding: 10vh 0;
}

.overview__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;  
}

.overview__heading, .best-sellers__heading, .best-sellers__sub-heading, .interviews__heading {
    text-align: center;
}

.overview__text-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    row-gap: 20px; 
}

.overview__text {
    font-size: 20px;   
    line-height: 23px; 
    text-align: center;
}

.best-sellers__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25vh;
}

.best-sellers__content-wrapper {
    display: flex;
    column-gap: 60px;
    padding: 7vh 0;
}

.best-sellers__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.best-sellers__sub-heading {
    max-width: 155px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

.best-sellers__text{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.culture {
    background: #e0e0e0;
}

.guides__container {
    display: flex;
    column-gap: 50px;
    padding: 10vh 0;
}

.guides__text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 535px;
}

.guides__heading, .overview__heading, .best-sellers__heading, .interviews__heading {
    font-size: 36px;
    line-height: 42px;
}

.guides__text {
    font-size: 36px;
    line-height: 42px;
}

.guides__link, .best-sellers__link, .interviews__link {
    text-decoration: underline;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
}

#culture-guide-text {
    text-align: end;
}

.feature__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    padding: 25vh 0;
}

.feature__heading {
    max-width: 450px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;  
}

.feature__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 100px;
    column-gap: 200px;
}

.feature__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    row-gap: 26px;
}

.feature__circle-item {
    width: 70px;
	height: 70px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#cyan-circle {
    background: #21F7EC;
}

#turquoise-circle {
    background: #33D3BC;
}

#blue-circle {
    background: #18A5C6;
}

#brown-circle {
    background: #D38F62;
}

#red-circle {
    background: #F94C43;
}

#purple-circle {
    background: #D399FF;
}

.feature__text{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

.interviews {
    background: linear-gradient(#F0EFEB,#F0EFEB) 100% calc(57vh - 100%) no-repeat;
}

.interviews__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 100px;
    padding-bottom: 10vh;
}

.interviews__heading {
    max-width: 700px;
}

.interviews__content-wrapper {
    display: flex;
    column-gap: 100px;
}

.interviews__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.interviews__sub-heading {
    max-width: 250px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.interviews__text{
    max-width: 250px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}